ALTER TABLE public.products ADD COLUMN IF NOT EXISTS section text;
ALTER TABLE public.products ADD COLUMN IF NOT EXISTS brand text;
ALTER TABLE public.products ADD COLUMN IF NOT EXISTS model text;
COMMENT ON COLUMN products.available IS 'true: Disponible, false: Agotado, null: Oculto';
